@import "mixin.scss";
@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.nav_bar {
  @include flexing(space-around);
  padding: $main-padding;
  background: $bg-color;

  height: 64px;
  color: $text-color;

  & .search_option {
    display: flex;
    height: 37px;

    & .search_option_svg {
      @include width-height;
      padding: 0px 5px;
      position: absolute;
      color: black;
    }

    & input {
      border-radius: $border-radius;
      font-size: 18px;
      width: 258px;
      outline: none;
      border: 0;
      padding-left: 43px;
    }
  }

  & .nav_links {
    @include flexing(space-between);

    & .nav_links_items {
      list-style-type: none;

      & a {
        color: $text-color;
        text-decoration: none;
        margin: 0px 20px;
      }
    }
  }

  & .icons {
    @include width-height;
    display: none;
    border: 2px solid $text-color;
    border-radius: $border-radius;
  }

  & .nav_links__mobile {
    background-color: $bg-color;
    padding: 8px 25px;
    position: absolute;
    top: 60px;
    right: 0px;

    & .nav_links_items {
      list-style-type: none;
      margin: 15px 0;
      border-bottom: 1px solid $text-color;

      & a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .nav_bar {
    padding: 0;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
  .nav_bar {
    & .nav_links {
      display: none;
    }

    & .icons {
      display: block;
    }
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
  .nav_bar {
    & .search_option {
      & input {
        width: auto;
      }
    }
  }
}
