@import "mixin.scss";
@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.nav_bar {
  @include flexing(space-around);
  padding: $main-padding;
  background: $bg-color;

  height: 64px;
  color: $text-color;

  & .search_option {
    display: flex;
    height: 37px;

    & .search_option_svg {
      @include width-height;
      padding: 0px 5px;
      position: absolute;
      color: black;
    }

    & input {
      border-radius: $border-radius;
      font-size: 18px;
      width: 258px;
      outline: none;
      border: 0;
      padding-left: 43px;
    }
  }

  & .nav_links {
    @include flexing(space-between);

    & .nav_links_items {
      list-style-type: none;

      & a {
        color: $text-color;
        text-decoration: none;
        margin: 0px 20px;
      }
    }
  }

  & .icons {
    @include width-height;
    display: none;
    border: 2px solid $text-color;
    border-radius: $border-radius;
  }

  & .nav_links__mobile {
    background-color: $bg-color;
    padding: 8px 25px;
    position: absolute;
    top: 60px;
    right: 0px;

    & .nav_links_items {
      list-style-type: none;
      margin: 15px 0;
      border-bottom: 1px solid $text-color;

      & a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}

.top-section {
  padding: $main-padding;
  margin-top: $margin-top2;

  & h1 {
    font-size: 48px;
    color: #2c384a;
  }

  & .first-section {
    @include flexing(space-between);
    margin-top: 10px;
    padding: 10px 0;

    border-bottom: $border;
    border-top: $border;

    & div {
      color: $text-color1;
      display: flex;
      align-items: center;
      gap: 15px;
      & .icons {
        @include icons();
      }

      & p {
        @include flexing(center);
        gap: 5px;
        font-size: $font-size3;
      }
    }
  }

  & .second-section {
    @include flexing(left);

    padding-left: 10px;

    & p {
      color: $text-color1;
      font-size: $font-size3;
      margin-right: 70px;
      line-height: 50px;
    }
  }

  & .third-section {
    @include flexing(left);
    gap: 20px;
    margin-top: 10px;
    & .icons {
      @include icons();
    }
    & p {
      font-size: $font-size;
      color: $text-color3;
    }
  }
}

.top-card-item {
  padding: $main-padding;
  margin-top: 40px;

  & .card {
    @include flexing(space-between);
    padding: $padding;
    height: $height;
    gap: $gap;
    margin-top: $margin-top;

    & .left {
      position: relative;
      @include flexing(center);
      flex-direction: column;

      & img {
        @include img;
      }

      & p {
        color: $text-color4;
        font-size: $font-size;
        line-height: 30px;
      }

      & .main {
        position: absolute;
        top: -80px;
        left: -30px;
        background: #ff7724;
        padding: 10px;
        border-radius: 0 8px 8px 0;

        & p {
          @include flexing(start);
          font-size: $font-size5;
          color: $text-color;

          & .icons {
            width: 20px;
            height: 20px;
            margin-right: 7px;
          }
        }
      }

      & .main2 {
        position: absolute;
        top: -20px;
        left: -30px;
        font-size: $font-size4;
        color: $text-color4;
      }
    }

    & .middle {
      width: 490px;
      color: $text-color1;

      & p {
        & span {
          font-weight: $font-weight;
        }
      }

      & h4 {
        color: $text-color5;
        margin: 5px 0;
      }

      & .bg {
        background: #fff4ed;
        padding: 5px 10px;
      }

      & div {
        color: $text-color1;
        width: 483px;
        font-size: $font-size5;
        margin: 5px 0 5px 18px;

        & div {
          font-size: $font-size2;
          border-radius: 12px;
          color: $text-color1;
          & span {
            background: $text-color;
            padding: 2px 5px;
            border-radius: 4px;
            color: $text-color6;
            font-size: $font-size5;
            margin-right: 5px;
          }
        }
      }

      & .loving {
        margin: 5px 0 5px 0px;

        & div {
          @include flexing(start);
          color: $text-color1;
          font-size: $font-size2;
          gap: $gap;

          & .icons {
            background: lightblue;
            color: darkblue;
            @include icons();
            font-size: 12px;
            border-radius: 100%;
            margin-top: 3px;
          }
        }
      }

      & .last-line {
        color: $text-color6;
      }
    }

    & .right {
      height: $height;
      width: 190px;
      display: grid;
      align-content: space-between;

      & div {
        background: #f3f9ff;
        text-align: center;
        color: #074786;
        & .rating {
          font-size: $font-size6;
        }
        & .text {
          margin-top: 5px;
          font-size: $font-size3;
        }
        & .icons {
          margin-top: 5px;
          height: 11px;
          width: 11px;
          color: orange;
        }
      }

      & button {
        @include button;
      }
    }
  }
}

.related-items {
  padding: $main-padding;
  margin-top: $margin-top;
  @include flexing(space-between);
  text-align: center;
  flex-wrap: wrap;
  row-gap: 30px;
  gap: 20px;

  & div {
    & img {
      @include img;
    }

    & div {
      color: $text-color7;
      font-size: $font-size3;
      margin: $margin;
      gap: $gap;
      @include flexing(start);
    }

    & h4 {
      font-weight: $font-weight;
      margin: $margin;
      color: $text-color4;
      font-size: $font-size5;
    }

    & .text {
      text-align: start;
      margin: $margin;
      color: $text-color4;
      font-size: $font-size5;
      width: 284px;
    }

    & .price {
      & p {
        font-size: $font-size4;
        color: $text-color2;
        & span {
          font-size: $font-size3;
          color: $text-color9;
          & span {
            font-size: $font-size;
            color: $text-color8;
          }
        }
      }
    }

    & button {
      @include button;
      width: 100%;
    }
  }
}

.related-items-heading {
  padding: $main-padding;
  margin: 70px 0 -50px 0;
  font-size: $font-size6;
  color: $text-color5;
}

.login {
  padding: $main-padding;
  margin-top: $margin-top2;
  flex-wrap: wrap;
  @include flexing(space-between);

  & p {
    width: 398px;
    font-size: $font-size6;
    color: $text-color2;
  }

  & div {
    @include flexing(start);

    & input {
      width: 348px;
      height: 52px;
      border: $text-color6;
      font-size: $font-size4;
      padding-left: 5px;
    }

    & button {
      width: 97px;
      height: 52px;
      background: $text-color6;
      border: 0;
      color: $text-color;
      cursor: pointer;
      border-radius: 0px 12px 12px 0px;
    }
  }
}

.footer {
  margin-top: $margin-top2;
  padding: 60px 200px;
  background: $bg-color;
  color: $text-color;
  @include flexing(space-between);

  & .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  }

  & div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    & h2 {
      font-weight: 400;
      font-size: $font-size5;
    }
    & p {
      color: $text-color10;
      display: flex;
      align-items: center;
      gap: 2px;
      font-size: $font-size;

      & .icon {
        @include icons;
      }
    }
  }
}

@media (max-width: 1024px) {
  .nav_bar {
    padding: 0;
  }
  .top-section {
    padding: $padding;
  }
  .top-card-item {
    padding: $padding;
  }
  .related-items {
    justify-content: center;
    padding: $padding;
  }
  .related-items-heading {
    padding: $padding;
  }
  .login {
    padding: $padding;
  }
  .footer {
    padding: 60px 20px;
  }
}

@media (max-width: 768px) {
  .top-section {
    & .second-section p {
      margin-right: 45px;
      & div {
        width: 443px;
      }
    }
  }

  .top-card-item {
    & .card {
      & .middle {
        width: 300px;

        & div {
          width: 300px;
        }
      }
    }
  }

  .login {
    & p {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 425px) {
  .nav_bar {
    & .nav_links {
      display: none;
    }

    & .icons {
      display: block;
    }
  }

  .top-section {
    & h1 {
      font-size: 30px;
    }

    & .first-section {
      @include align-direction;
      row-gap: $gap;

      & div {
        @include align-direction;
      }
    }

    & .second-section {
      flex-wrap: wrap;
      padding-left: 5px;

      & p {
        margin-right: 30px;
      }
    }

    & .third-section {
      gap: $gap;
      flex-wrap: wrap;
    }
  }

  .related-items-heading {
    margin-top: 50px;
  }

  .top-card-item {
    & .card {
      margin-top: 50px;
      flex-direction: column;
      height: auto;

      & .left {
        & .main {
          top: -30px;
          left: -130px;
        }
        & .main2 {
          top: 30px;
          left: -126px;
        }
      }

      & .right {
        align-content: baseline;
        height: auto;
      }
    }
  }

  .login {
    & p {
      font-size: 24px;
    }
    & div {
      width: 100%;
    }
  }

  .footer {
    align-items: start;
    flex-direction: column;
    row-gap: 50px;

    & .links {
      width: 100%;
    }
  }
}

@media (max-width: 375px) {
  .top-section {
    & .second-section {
      & p {
        margin-right: 18px;
      }
    }

    & .third-section {
      gap: $gap;
    }
  }

  .top-card-item {
    & .card {
      & .left {
        & .main {
          top: -30px;
          left: -106px;
        }
        & .main2 {
          top: 30px;
          left: -106px;
        }
      }
      & .middle {
        & div {
          width: 260px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .nav_bar {
    & .search_option {
      & input {
        width: auto;
      }
    }
  }

  .top-section {
    & h1 {
      font-size: 25px;
    }
  }

  .top-card-item {
    & .card {
      & .left {
        & .main {
          top: -30px;
          left: -80px;
        }
        & .main2 {
          top: 30px;
          left: -80px;
        }
      }
      & .middle {
        & .bg {
          padding: 2px 0;
        }
      }
    }
  }

  .login {
    & p {
      font-size: $font-size4;
    }

    & div {
      @include flexing(start);

      & input {
        width: 200px;
      }
    }
  }
}
