@mixin flexing($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin width-height {
  width: 37px;
  height: 37px;
}

@mixin icons {
  width: 16px;
  height: 16px;
}

@mixin align-direction {
  align-items: start;
  flex-direction: column;
}

@mixin button {
  background: $text-color6;
  color: $text-color;
  font-size: 16px;
  border-radius: 12px;
  border: 0;
  padding: 10px 0;
}

@mixin img {
  width: 141px;
  height: 103px;
}
