@mixin flexing($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin width-height {
  width: 37px;
  height: 37px;
}

@mixin align-direction {
  align-items: start;
  flex-direction: column;
}
