$bg-color: #212731;

$text-color: white;

$text-color1: #4b5665;

$text-color2: #5c6874;

$text-color3: #727d87;

$main-padding: 0 240px;

$border-radius: 8px;

$font-weight: 400;

$border: 1px solid #e1e4e6;

$gap: 10px;
