$bg-color: #212731;

$text-color: white;

$text-color1: #4b5665;

$text-color2: #5c6874;

$text-color3: #727d87;

$text-color4: #626e79;

$text-color5: #2c384a;

$text-color6: #1b88f4;

$main-padding: 0 200px;

$border-radius: 8px;

$font-weight: 400;

$height: 255px;

$border: 1px solid #e1e4e6;

$gap: 10px;

$font-size: 13px;

$font-size3: 14px;

$font-size2: 15px;
